[Unit]
Description=Grafana instance
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/sysconfig/grafana-server
User={{ grafana_user }}
Group={{ grafana_group }}
Type=simple
Restart=on-failure
WorkingDirectory=/usr/share/grafana
ExecStart={{ grafana_binary_location }}/grafana-server                                \
                            --config={{ grafana_config_location }}                 \
                            --pidfile={{ grafana_pid_file }}                 \
                            cfg:default.paths.logs={{ grafana_log_dir }}     \
                            cfg:default.paths.data={{ grafana_data_dir }}    \
                            cfg:default.paths.plugins={{ grafana_plugins_dir }}
LimitNOFILE=10000
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
